@charset "UTF-8"

*{
    font-family: Arial, Helvetica, sans-serif;
   /* height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #6CA6D9, #D8D9D7 );
}

main {
   background-color: white;
   border-radius: 10px;
   box-shadow: 5px 5px 15px rgba(58, 48, 37, 0.658) ; 
   width: 600px;
   padding: 10px;
   margin: auto;
}

h1 {
    color: #D9B384;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(119, 69, 8, 0.705);


}

h2 {
    color:#265DA6;

}
p {
   text-align: justify; 
}
